@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

.contact{
    padding: 50px 50px 0 50px;
}

.contact .head-text{
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    color: #1105059f;
    font-weight: 500;
}

.contact .sub-text{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: #dd1515;
}

/* .container .fab{
    font-size: 50px;
} */

.container .sign{
    font-family: 'Great Vibes', sans-serif;
    font-size: 40px;
    color: #41b0bf !important;
}

.container .fa-heart{
    font-size: 20px;
    padding: 1%;
    color: #dd1515;
}