.navbar {
  /* background: #40b0bd; */
  font-size: large;
}

.nav-link {
  color: #00a6df !important;
  font-size: 20px;
  font-weight: 600;
}

.nav-link:hover {
  color: rgb(255, 255, 255);
}

.navbar .navbar-toggler-icon {
  background-image: url(../Assets/menu-icon.png) !important;
}
