#skills{
    background-color: antiquewhite;
    padding-bottom: 3%;
}

.title{
    font-size: 35px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    color: #1f9ac0;
    margin: 0;
}

.skills{
    display: flex;
    font-family: 'Poppins', sans-serif;
    align-items: center;
    width: 100%;
    padding: 0% !important;
}

.skills span{
    margin: auto;
}

.skills p{
    font-family: 'Poppins', sans-serif;
    font-size: 23px;
    color: #68c01f;
    margin: auto;
}

.container img{
    padding: 10px 15px 15px 15px;
}

.container .fa-html5{
    color: #1f4ac0;
}

.container .fa-css3-alt{
    color: #1f4ac0bd;
}

.container .fa-js{
    color: #9acd32;
}

.container .fa-java{
    color: #ff0000;
}

.container .fa-react{
    color: rgba(0, 0, 0, 0.774);
}

@media (max-width: 450px) {
    .skills{
        display: block;
    }
}