@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

.jumbotron {
  background: #40b0bd !important;
}

.cloud-container {
  max-width: 100;
  min-height: 50%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #40b0bd;
  /* background: linear-gradient(to bottom, #40b0bd 1%, #40b0bd 100%); */
}

.cloud-container {
  background: url(../Assets/clouds.png);
  background-size: contain;
  background-repeat: repeat;
  background-color: #41b0bf;
  position: relative;
}

.cloud-container .name {
  font-family: 'Sacramento', cursive;
  font-weight: 500;
  font-size: 100px;
  color: #fff;
}

.cloud-container .sub-name {
  font-family: "Poppins", sans-serif;
  color: #e8f1ed;
  font-size: xx-large;
}

.cloud-container .outlined-white {
  font-family: "Poppins", sans-serif;
  background-color: #41b0bf;
  color: #fff;
  border-radius: 30px;
  padding: 15px 25px;
  border: 1px solid #fff;
  font-size: 14px;
  letter-spacing: 1px;
}

.jumbotron .scroll-link{
  font-family: "Poppins", sans-serif;
  background-color: #41b0bf;
  color: #fff;
  text-decoration: none;
  width: fit-content;
}

.jumbotron .scroll-link:hover{
  background: #fff;
  color: #41b0bf;
  border: none;
}

.cloud-container .outlined-white:hover {
  background: #fff;
  color: #41b0bf;
}

@media (max-width: 450px) {
  .container{
    width: 100%;  
  }

  .jumbotron {
    width: 100%;
  }
  /* .cloud-container {
    width: 450px;
  } */

  #cloud-intro {
    background: none;
  }

  .cloud-container .name {
    font-size: 80px;
    color: #e8f1ed;
    display: contents;
  }

  .cloud-container .sub-name {
    font-family: "Poppins", sans-serif;
    color: #e8f1ed;
    font-size: xx-large;
  }
}
